:root {
  --brown: hsl(31, 47%, 65%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 13%);
  --ash: hsl(0, 0%, 96%);
  --p: 15px;
  --navList: 16px;
  --sectionHeadline: 36px;
  --sectionSubTitle: 24px;
  --headline: 50px;
  --subtitle: 30px;
  --btn: 18px;
  --input: 13px;
  --Tv: 1980px;
  --laptop: 1280px;
  --tab: 992px;
  --mobile: 768px;
  --fontMain: "Oswald", sans-serif;
  --fontSecondary: "Open Sans", sans-serif;
  --transition: 0.7s ease;
  --padding: 70px;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
::before,
::after {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: var(--fontMain);
  overflow-x: hidden;
}

p {
  font-family: var(--fontSecondary);
  font-size: var(--p);
  color: var(--black);
}
h1 {
  font-family: var(--fontMain);
  font-size: var(--sectionHeadline);
  font-weight: 600;
  color: var(--black);
}
h3 {
  font-family: var(--fontMain);
  font-size: var(--sectionSubTitle);
  font-weight: 500;
  color: var(--black);
}
button {
  font-size: var(--btn);
  font-weight: 600;
  font-family: var(--fontMain);
  padding: 9px 30px;
  background-color: var(--brown);
  color: var(--black);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border: transparent;
  cursor: pointer;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
button:hover {
  background-color: var(--black);
  color: var(--ash);
}
.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}
.link {
  color: var(--black);
}

section,
header,
nav,
footer {
  width: 100%;
  margin: 0 auto;
  max-width: var(--Tv);
}
