.new-product {
  width: 100%;
}

.card {
  background-color: var(--white);
  padding: 70px 0;
  height: auto;
  /*border: 1px solid var(--brown);
  */
  cursor: pointer;
  text-align: center;
  margin: 25px 15px;
  position: relative;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.card:hover {
  box-shadow: 10px 12px 10px -2px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
}
.card > img {
  width: 150px;
  margin: 0 auto;
}
.price {
  font-size: 18px;
}
.product-name {
  font-size: 18px;
}

.icon {
  text-align: center;
  width: 80%;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cart {
  width: 35%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background-color: var(--white);
  padding: 10px 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  opacity: 0;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.card:hover .cart {
  opacity: 1;
}
